
.container {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 40px;
}

.mainImage {
  height: 100%;
  width: auto;
}

.logoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoraInner {
  height: 75px;
}

.zoraOrb {
  position: absolute;
  top: 49%;
  left: 47px;
  transform: translateY(-50%);

  height: 76px;
  width: 76px;
  border-radius: 100%;
  background: transparent;
}
